<p> 2018.08.24 </p>
<ul>
<li>更新器v1.0.5修复启动战网报错的问题</li>
<li>多米诺自动切换神器能量为艾心能量</li>
<li>巧克力信息条(ChocolateBar)更新至v3.2.3</li>
<li>首领模块(DBM-Core)更新至8.0.4-5</li>
<li>要塞任务管家更新至v58</li>
<li>采集助手(GatherMate2)更新至1.43.1</li>
<li>站位提醒(GTFO)更新至r413-alpha</li>
<li>争霸艾泽拉斯宝箱更新至v5-2</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.8</li>
<li>世界任务列表(WorldQuestsList)更新至v7.8</li>
<li>拾取界面增强(XLoot)更新至8.0-4</li>
<li>HPetBattleAny宠物数据更新至v1.12.2</li>
</ul>
<p> 2018.08.23 </p>
<ul>
<li>尝试修改世界任务增强导致图标混乱的BUG</li>
<li>首领模块(DBM-Core)更新至8.0.4-2</li>
<li>争霸艾泽拉斯宝箱更新至v4-21</li>
<li>世界任务增强(WQT)更新至v8.0.1.305</li>
</ul>
<p> 2018.08.22 </p>
<ul>
<li>更新器推送1.0.4更新<ul>
	<li>修复网络波动导致异常退出的毛病</li>
	<li>选择魔兽路径的窗口，改为选择目录</li>
	<li>增加下拉菜单可以启动战网</li>
	<li>增加测试线路，但会有少数文件更新不全</li>
</ul></li>
<li>装备统计对比的附魔部位修改</li>
<li>首领模块(DBM-Core)更新至8.0.4-1</li>
<li>要塞任务管家更新至r423</li>
<li>争霸艾泽拉斯宝箱更新至v4-20</li>
<li>地图增强(Mapster)更新至1.8.1-1</li>
</ul>
<p> 2018.08.21 </p>
<ul>
<li>首领模块(DBM-Core)更新至8.0.3-13</li>
<li>团队框架Grid(Grid)更新至8.0.1.1</li>
<li>站位提醒(GTFO)更新至r412</li>
<li>任务追踪增强(KalielsTracker)更新至3.0.4</li>
<li>地图增强(Mapster)更新至1.8.0-6</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.8</li>
<li>世界任务增强更新至v8.0.1.303</li>
</ul>
<p> 2018.08.20 </p>
<ul>
<li>面板移动不会将世界地图移到窗口外</li>
<li>修改信息条默认货币设置</li>
<li>数据源：金钱货币显示更新至8.0.1.4</li>
<li>首领模块(DBM-Core)更新至8.0.3-8</li>
<li>争霸艾泽拉斯宝箱更新至v4</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.7</li>
<li>世界任务列表(WQL)更新至v7.7</li>
<li>世界任务增强(WQT)更新至v8.0.1.301,完善汉化</li>
</ul>
<p> 2018.08.19 </p>
<ul>
<li>集合石更新至80000.04（搜索无法实现所以去掉了）</li>
<li>任务组队按钮打开默认查找器而不是集合石</li>
<li>简单处理可接任务导致拾取卡顿的问题</li>
<li>修复简约背包汉化、装备统计套装等</li>
<li>首领模块(DBM-Core)更新至8.0.3-4</li>
<li>要塞任务管家更新至v57</li>
<li>争霸艾泽拉斯宝箱更新至v3-3</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.6</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.7</li>
</ul>
<p> 2018.08.18 </p>
<ul>
<li>集合石在03版基础上增加争霸5人本选项</li>
<li>修复施法条延迟偶尔显示错乱的问题</li>
<li>修复几处低级装备装等显示错误的问题</li>
<li>属性通报显示艾泽拉斯之心的等级</li>
<li>多米诺进度条屏蔽神器能量，只显示艾心能量</li>
<li>数据源：延迟帧数及菜单(Broker_MicroMenu)更新至v1.6</li>
<li>巧克力信息条(ChocolateBar)更新至v3.2.2</li>
<li>要塞任务管家(GarrisonMissionManager)更新至r408</li>
<li>站位提醒(GTFO)更新至r409</li>
<li>争霸艾泽拉斯宝箱更新至v2-8</li>
<li>要塞任务大师(MasterPlan)更新至0.115</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.5</li>
<li>世界任务增强(WQT)更新至v8.0.1.299</li>
</ul>
<p> 2018.08.17 </p>
<ul>
<li>面板移动支持拆解框和装备特质框</li>
<li>修复加载可接任务查询时报错的问题</li>
<li>首领模块(DBM-Core)更新至8.0.3-2</li>
<li>要塞任务管家(GarrisonMissionManager)更新至r407</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.4</li>
<li>副本进度查询(SavedInstances)更新至8.0.5</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.6</li>
<li>世界任务列表(WorldQuestsList)更新至v7.6</li>
<li>世界任务增强(WorldQuestTracker)更新至v8.0.1.297</li>
<li>HPetBattleAny宠物数据更新至v1.12.1</li>
</ul>
<p> 2018.08.16 </p>
<ul>
<li>首领模块(DBM-Core)更新至8.0.2-1</li>
<li>要塞任务管家(GarrisonMissionManager)更新至v56</li>
<li>库:任务数据(Grail)更新至097</li>
<li>争霸艾泽拉斯宝箱标记更新至v2-2</li>
<li>副本进度查询(SavedInstances)更新至8.0.4</li>
<li>可接任务查询(Wholly)更新至068</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.5</li>
</ul>
<p> 2018.08.15</p>
<ul>
<li>改进自动修理贩卖的收支提示</li>
<li>修复Grid和Recount的两处报错位置</li>
<li>首领模块(DBM-Core)更新至8.0.1-56</li>
<li>要塞任务管家(GarrisonMissionManager)更新至r402</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.4</li>
</ul>
<p> 2018.08.14 V2</p>
<ul>
<li>处理暴雪自己打开工会报错的BUG</li>
<li>更改适应新版本装等的配色</li>
<li>首领模块(DBM-Core)更新至8.0.1-55</li>
<li>要塞任务大师(MasterPlan)更新至0.114.1</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.3</li>
<li>WeakAura2更新至2.7.2</li>
</ul>
<p> 2018.08.14 </p>
<ul>
<li>地图标记新增争霸艾泽拉斯宝箱模块</li>
<li>爱不易装备搜索切换为8.0新副本</li>
<li>首领模块(DBM-Core)更新至8.0.1-54</li>
<li>技能栏保存(Myslot)更新至v5.2.6-1</li>
<li>TellMeWhen更新至8.5.3</li>
<li>WeakAura2更新至2.7.0</li>
</ul>
<p> 2018.08.13 </p>
<ul>
<li>自动修理贩卖关闭商人窗口时显示收支合计</li>
<li>首领模块(DBM-Core)更新至8.0.1-51</li>
<li>失败消息屏蔽(ErrorFilter)更新至v3.6</li>
<li>采集助手(GatherMate2)更新至1.43</li>
<li>团队框架Grid(Grid)更新至8.0.1.0</li>
<li>地图标记(HandyNotes)更新至v1.5.3</li>
<li>治疗必须死(Healers-Have-To-Die)更新至2.4.9</li>
<li>任务追踪增强(KalielsTracker)更新至3.0.3</li>
<li>伤害统计(Recount)更新至v8.0.1b</li>
<li>TellMeWhen更新至8.5.2-1</li>
<li>世界任务列表(WorldQuestsList)更新至v7.5</li>
</ul>
<p> 2018.08.12 </p>
<ul>
<li>物品来源查询更新8.0数据</li>
<li>首领模块(DBM-Core)更新至8.0.1-49</li>
<li>采集助手(GatherMate2)更新至1.42.1-8</li>
<li>世界任务列表(WorldQuestsList)更新至v7.4</li>
</ul>
<p> 2018.08.11 </p>
<ul>
<li>恢复插件：任务追踪增强</li>
<li>恢复插件：可接任务查询</li>
<li>修复贴心小功能-任务追踪按距离排序</li>
<li>首领模块(DBM-Core)更新至8.0.1-44</li>
<li>一键驱散(Decursive)更新至2.7.6.1</li>
<li>采集助手(GatherMate2)更新至1.42.1-5</li>
<li>任务追踪增强(KalielsTracker)更新至3.0.2</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.3</li>
<li>伤害统计(Skada)更新至1.7.5</li>
<li>世界任务列表(WorldQuestsList)更新至v7.3</li>
<li>Ace3更新至r1193</li>
<li>LibDBIcon-1.0更新至v8.0.0</li>
<li>LibNameplateRegistry-1.0更新至0.19T2-2</li>
<li>LibSharedMedia-3.0更新至r106</li>
<li>LibSink-2.0更新至v8.0.0</li>
</ul>

<p> 2018.08.09 v2 </p>
<ul>
<li>集合石组团(MeetingStone)更新至80000.03</li>
</ul>
<p> 2018.08.09 </p>
<ul>
<li>HandyNote阿古斯和军团宝藏更新，感谢adavak</li>
<li>修正CompactRaid边角不显示数字的问题-感谢xinhochen</li>
<li>幻化提示(CanIMogIt)更新至v1.11</li>
<li>首领模块(DBM-Core)更新至8.0.1</li>
<li>团长工具(ExRT)更新至v3940</li>
<li>按钮美化(Masque)更新至8.0.1</li>
<li>宠物战队(Rematch)更新至4.8.2</li>
<li>世界任务列表(WorldQuestsList)更新至v7.1</li>
</ul>
<p> 2018.08.07 </p>
<ul>
<li>要塞任务大师(MasterPlan)更新至0.114</li>
<li>目标点路径指示(TomTom)更新至v1.0.2</li>
<li>增加简易状态（BlinkText）来自多玩独孤傲雪</li>
<li>职业快捷按钮恢复团队BUFF按钮</li>
</ul>
<p> 2018.08.06 </p>
<ul>
<li>修复登陆后没有世界频道的问题</li>
<li>移除插件橙装闪换（LegiondarySwitch）</li>
</ul>
<p> 2018.08.05 20:00 </p>
<ul>
<li>修复TidyPlates小宠物对战时血条变化的问题</li>
<li>修复能量监控(Comergy)分段无法设置的问题</li>
<li>Grid溢出数值下限单位调整</li>
<li>简单修复收支统计(Accountant)</li>
<li>修复TidyPlates加载选项按钮不显示的问题</li>
<li>试穿助手(Dresser)更新至v8.0.1.180804</li>
<li>简约背包整合(Bagnon)更新至8.0.2</li>
<li>首领模块(DBM-Core)更新至8.0.1-35</li>
<li>一键驱散(Decursive)更新至2.7.6.1b</li>
<li>试穿助手(Dresser)更新至v8.0.1.180804</li>
<li>站位提醒(GTFO)更新至4.46.2</li>
</ul>
<p> 2018.08.05 </p>
<ul>
<li>姓名板美化(TidyPlates)高亮增加爆炸物（原来的邪能炸药）</li>
<li>改善社区菜单操作失败的问题（如果还是不行，/RL）</li>
<li>修复聊天条刚登入没有显示自定义频道和社区的问题</li>
<li>要塞任务大师(MasterPlan)版本号修改，应该不会提示过期了</li>
<li>替换部分旧接口和文本</li>
</ul>
<p> 2018.08.04 </p>
<ul>
<li>聊天条切换按钮显示社区名</li>
<li>公会新闻加载按钮支持社区界面</li>
<li>姓名板美化血量10万以下不缩写</li>
<li>修正Grid醉拳模块，感谢群友Windforce提出</li>
<li>简约背包整合(Bagnon)更新至8.0.1</li>
<li>数据源：装备耐久(Broker_DurabilityInfo)更新至v1.29</li>
<li>巧克力信息条(ChocolateBar)更新至v3.2.1</li>
<li>分类背包整合(Combuctor)更新至8.0.1</li>
<li>首领模块(DBM-Core)更新至8.0.1-21</li>
<li>失败消息屏蔽(ErrorFilter)更新至v3.5</li>
<li>装等显示(TinyInspect)更新至8.0</li>
<li>世界任务列表(WorldQuestsList)更新至v7.0</li>
</ul>
<p> 2018.08.03 </p>
<ul>
<li>距离提示(RangeDisplay)更新至v4.8.3</li>
</ul>
<p> 2018.08.02 </p>
<ul>
<li>修复"血池拉走"的提示</li>
<li>首领模块(DBM-Core)更新至8.0.1-19</li>
<li>副本进度查询(SavedInstances)更新至8.0.3-1</li>
</ul>
<p> 2018.08.01 </p>
<ul>
<li>点击控制面板左上红心可以显示捐助者名单</li>
<li>赞赏时没写备注的，可以同账号再来1分钱补上备注</li>
<li>聊天过滤增加副本外自动关闭聊天泡泡的选项</li>
<li>修复聊天框右侧滚动条及底部按钮不正常的问题</li>
<li>启用多米诺后不隐藏延迟指示条</li>
<li>数据源：延迟帧数及菜单(Broker_MicroMenu)更新至v1.5.8</li>
<li>世界任务列表(WorldQuestsList)更新至v6.9 并完善汉化</li>
<li>WeakAura2更新至2.6.6</li>
</ul>
<p> 2018.07.31 </p>
<ul>
<li>暂时修复CR团队框体的边角指示功能，一起求abin出山啊</li>
<li>装备统计对比不再给观察的玩家增加15神器装等G</li>
<li>聊天条默认锁定</li>
<li>修复玩家菜单增强无法举报的问题，这个将来会大改</li>
<li>拍卖助手(AuctionLite)更新至v1.8.17</li>
<li>幻化提示(CanIMogIt)更新至v1.10</li>
<li>巧克力信息条(ChocolateBar)更新至v3.2</li>
<li>首领模块(DBM-Core)更新至8.0.1-17</li>
<li>角色详细属性(DejaCharacterStats)更新至r106</li>
<li>采集助手(GatherMate2)更新至1.42.1-2</li>
<li>TMW(TellMeWhen)更新至8.5.2</li>
<li>世界任务列表(WorldQuestsList)更新至v6.8</li>
</ul>
<p> 2018.07.30 </p>
<ul>
<li>帮暴雪修复延迟状态条的定位错误（延迟红了的那个条）</li>
<li>处理姓名板美化造成缩放卡死的问题</li>
<li>尝试修复巧克力条导致动作条失效问题，暂时不支持巧克力条放在屏幕下方</li></li>
<li>修复商人过滤按钮错位问题</li>
<li>Ace3更新至r1191</li>
<li>首领模块(DBM-Core)更新至8.0.1</li>
<li>WeakAura2更新至2.6.5</li>
</ul>
<p> 2018.07.28 </p>
<ul>
<li>Grid优化增益减益检索效率，顺便增加指定增益ID的功能</li>
<li>Grid坦克救命技能核心逻辑重写，这是卡顿元凶</li>
<li>Grid额外增益图标去掉强制显示某个增益的功能</li>
<li>尝试修复巧克力条导致下载具动作条异常的问题，没成功...</li>
<li>修复地图接口导致内存泄漏的问题</li>
<li>LibResInfo-1.0更新至r26</li>
<li>LibJostle-3.0更新至r65</li>
<li>首领模块(DBM-Core)更新至8.0.1-14</li>
<li>目标点路径指示(TomTom)更新至v80001-1.0.1</li>
<li>世界任务列表(WorldQuestsList)更新至v.6.7</li>
</ul>
<p> 2018.07.27 </p>
<ul>
<li>修复PVP战场框体</li>
<li>修复TipTac万亿选项不生效</li>
<li>神器不再计算熔炉增加的15装等</li>
<li>修复分类整合背包选项打不开的问题</li>
<li>修复商业技能百科导致拍卖行只显示一个的问题</li>
<li>DBM-Cataclysm更新至r192</li>
<li>DBM-MOP更新至r123</li>
<li>DBM-WOD更新至r36</li>
<li>站位提醒(GTFO)更新至4.46.1</li>
<li>技能栏保存(Myslot)更新至v5.2.6</li>
<li>距离提示(RangeDisplay)更新至v4.8.2</li>
<li>WeakAura2更新至2.6.4</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.2</li>
<li>世界任务列表(WorldQuestsList)更新至v.6.6</li>
</ul>   
<p> 2018.07.26 </p>
<ul>
<li>秘境计时增强(AngryKeystones)更新至v0.13.4</li>
<li>首领模块(DBM-Core)更新至8.0.1-8</li>
<li>状态：团队减益(GridStatusRaidDebuff)更新至r44</li>
<li>分类背包整合(Combuctor)更新至8.0</li>
<li>优化了UNIT_POWER事件的处理效率</li>
</ul>
<p> 2018.07.25 </p>
<ul>
<li>秘境计时增强(AngryKeystones)更新至v0.13.3b</li>
<li>简约背包整合(Bagnon)更新至8.0.0</li>
<li>数据源：延迟帧数及菜单(Broker_MicroMenu)更新至v1.4.6</li>
<li>巧克力信息条(ChocolateBar)更新至v3.1.10</li>
<li>首领模块(DBM-Core)更新至8.0.1-2</li>
<li>一键驱散(Decursive)更新至2.7.6</li>
<li>多米诺动作条(Dominos)更新至8.0.6</li>
<li>PVP语音提示(GladiatorlosSA2)更新至GSA2.B2</li>
<li>地图标记阿古斯模块(HandyNotes_Argus)更新至0.26.6</li>
<li>苏拉玛传送门(HandyNotes_SuramarTelemancy)更新至v6.1-2</li>
<li>治疗必须死(Healers-Have-To-Die)更新至2.4.8</li>
<li>背包装等显示(ItemLevelDisplay)更新至2.1.0</li>
<li>技能冷却计时(OmniCC)更新至8.0.1</li>
<li>距离提示(RangeDisplay)更新至r385-alpha</li>
<li>副本进度查询(SavedInstances)更新至8.0.3</li>
<li>TellMeWhen更新至8.5.1-4-g7de80994-alpha</li>
<li>鼠标提示增强(TipTac)更新至18.07.24</li>
<li>目标点路径指示(TomTom)更新至v80001-1.0.0</li>
<li>商业技能百科(TradeskillInfo)更新至v2.4.1-3</li>
<li>WeakAura2更新至2.6.3</li>
<li>世界任务增强(WorldQuestTracker)更新至v8.0.1.295</li>
</ul>