<div class="col-xs-6 h-scroll">
<p> 2018.09.05 </p>
<ul>
<li>客户端更新1.0.6，如果无法自动更新请去网盘下载</li>
<li>移除了选择测试线路的功能，改进了一些发布流程</li>
</ul>
<p> 2018.09.04 </p>
<ul>
<li>Grid团队减益新增奥迪尔副本模块</li>
<li>姓名板增强增加显示敌对玩家Buff的选项</li>
<li>修复整合背包背包栏无法隐藏的问题</li>
<li>整合背包头像处理黑铁矮人和玛格汉兽人</li>
<li>首领模块(DBM-Core)更新至8.0.6-1</li>
<li>夏一可語音包(DBM-VPYike)更新至2612032</li>
<li>Grid团队减益更新至r62</li>
</ul>
<p> 2018.09.03 </p>
<ul>
<li>修复姓名板增强显示了敌对玩家BUFF的问题</li>
<li>改进SUF预设方案（稀有高亮，目标的目标名字）</li>
<li>自动任务交接默认交接全部任务而不是日常</li>
<li>任务追踪增强完善汉化并修改默认通知</li>
<li>简约背包整合默认显示背包按钮</li>
<li>简约背包整合(Bagnon)更新至8.0.3</li>
<li>首领模块(DBM-Core)更新至8.0.5-18</li>
<li>宠物战队(Rematch)更新至4.8.5</li>
<li>TellMeWhen更新至8.5.3-1</li>
</ul>
<p> 2018.09.02 </p>
<ul>
<li>Grid和SUF增加战争模式相位显示</li>
<li>修复浮动战斗信息拾取金币的格式</li>
<li>聊天过滤不再将链接当做很长的文本</li>
<li>微调小地图周围按钮位置,与暴雪按钮更协调</li>
<li>点击聊天里的成就链接可直接打开成就面板</li>
<li>优化副本小攻略的闪光提示逻辑</li>
<li>团队框架CR(CompactRaid)更新至5.04</li>
<li>首领模块(DBM-Core)更新至8.0.5-17</li>
<li>要塞任务管家(GarrisonMissionManager)更新至r426</li>
<li>采集助手(GatherMate2)更新至1.43.3-1</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.10</li>
<li>宠物战队(Rematch)更新至4.8.3</li>
<li>世界任务列表(WorldQuestsList)更新至v7.9</li>
<li>世界任务增强(WorldQuestTracker)更新至r313</li>
<li>Ace3和LibDBIcon库更新</li>
</ul>
<p> 2018.09.01 </p>
<ul>
<li>装备特质提示按住Ctrl可以显示详细描述</li>
<li>修复一些选项打不开的情况，比如拍卖助手设置</li>
<li>HPetBattleAny宠物数据更新至v1.12.3</li>
<li>Grid团队减益(GridStatusRaidDebuff)更新至r60</li>
<li>WeakAura2更新至2.7.5</li>
<li>世界任务增强(WorldQuestTracker)更新至v8.0.1.311</li>
<li>首领模块(DBM-Core)更新至8.0.5-15</li>
<li>拾取界面增强(XLoot)更新至8.0-6</li>
</ul>
<p> 2018.08.31 </p>
<ul>
<li>继续完善副本小攻略</li>
<li>聊天增强里加入世界频道的开关和聊天条世界屏蔽按钮联动</li>
</ul>
<p> 2018.08.30 </p>
<ul>
<li>紧急更新拍卖助手(AuctionLite)</li>
<li>因部分大服加入世界频道会导致掉线，默认不加入</li>
<li>首领模块(DBM-Core)更新至8.0.5-1</li>
<li>Grid团队减益(GridStatusRaidDebuff)更新至r48</li>
<li>站位提醒(GTFO)更新至r420</li>
<li>WeakAura2更新至2.7.4</li>
<li>世界任务增强(WorldQuestTracker)更新至v8.0.1.309</li>
</ul>
<p> 2018.08.29 </p>
<ul>
<li>优化捐助名单的存储结构</li>
<li>修复物品来源查询副本名显示为繁体的BUG</li>
<li>首领模块(DBM-Core)更新至8.0.4-19</li>
<li>采集助手(GatherMate2)更新至1.43.3</li>
<li>Grid团队减益(GridStatusRaidDebuff)更新至r46</li>
<li>站位提醒(GTFO)更新至r419</li>
<li>稀有精英探测(NPCScan)更新至8.0.1.9</li>
</ul>
<p> 2018.08.28 </p>
<ul>
<li>完善副本小攻略，加入部分小怪说明</li>
<li>任务追踪增强默认关闭完成任务的提示音</li>
<li>首领模块(DBM-Core)更新至8.0.4-14</li>
<li>站位提醒(GTFO)更新至4.46.4</li>
<li>WeakAura2更新至2.7.3</li>
</ul>
<p> 2018.08.27 </p>
<ul>
<li>SUF头像增强增加数字缩写格式选项</li>
<li>帕库图腾标记换了图标并默认关闭，联盟玩家不启用</li>
<li>修复副本小攻略无法发到随机副本频道的BUG</li>
<li>姓名板增强改进：</li>
<li>　默认关闭仇恨发光警告</li>
<li>　敌对Buff不显示玩家的，默认只显示可驱散的</li>
<li>　可驱散的Buff边框为绿色，不可驱散的为红色</li>
<li>处理一处与PLoop框架冲突的地方</li>
<li>首领模块(DBM-Core)更新至8.0.4-13</li>
<li>站位提醒(GTFO)更新至4.46.3</li>
<li>世界飞行地图(WorldFlightMap)更新至8.0.0.9</li>
</ul>
<p> 2018.08.26 </p>
<ul>
<li>姓名板增强增加显示敌对Buff的选项</li>
<li>新增插件: SUF头像增强(ShadowedUnitFrames)</li>
<li>新增插件: 帕库图腾标记(Paku_Totems)</li>
<li>新增插件: 爱不易副本小攻略</li>
<li>声望自动跟踪功能仅在满级以后才有效</li>
<li>聊天过滤可以屏蔽110级角色密语</li>
<li>装备特质显示(AzeriteTooltip)更新至1.61</li>
<li>首领模块(DBM-Core)更新至8.0.4-12</li>
<li>采集助手(GatherMate2)更新至1.43.2</li>
</ul>
<p> 2018.08.25 </p>
<ul>
<li>物品来源查询增加新副本数据</li>
<li>装备搜索现在可搜到艾泽拉斯副本装备</li>
<li>119级以上不显示光铸符文按钮</li>
<li>新增插件: 装备特质显示(AzeriteTooltip)</li>
<li>移除插件: 诺米大厨(NomiCakes)</li>
<li>移除插件: 抑魔金助手(EasyObliterate)</li>
<li>移除插件: 清醒梦魇助手(LucidNightmareHelper)</li>
<li>移除插件: 目标的目标增强(TOTxp)</li>
<li>首领模块(DBM-Core)更新至8.0.4-11</li>
<li>任务追踪增强(KalielsTracker)更新至3.1.0</li>
<li>拾取界面增强(XLoot)更新至8.0-5</li>
</ul>
</div>
<div class="col-xs-6 h-scroll">
<p>常见问题</p>
<ul>
<li>测试线路因为流量过大已经被封了，正在研究更先进的更新方式，已经有眉目啦，</li>
<li>暴雪禁止了集合石自动创建和搜索，必须手工输入（复制粘贴都不行），所以7.0那样的世界任务自动组队是不可能的了，请不要重复提问</li>
<li>稀有精英没有地图范围标记，原作者正在更新，耐心等待</li>
<li>新手视频，如果有什么不明白的，看这个就对了<a href="https://www.bilibili.com/video/av27895994/">B站链接</a></li>
<li>如果卡在对比文件，请切换测试线路</li>
<li>下载慢可以下载一次离线包，手工解压，再检查更新</li>
<li>插件更新器发布地址，<a href="https://pan.baidu.com/s/1t_NPOo0_cQDOUo2W4dlC5A#list/path=%2Fshare%2FAbyUI&parentPath=%2Fshare">[百度网盘]</a>
<li>插件离线包下载地址：<a href="https://gitlab.com/aby-ui-zip/repo-base/-/archive/master/repo-base-master.zip">[GitLab]</a></li>
</ul>
<div style="width:100%; text-align: center">
<br/>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#donateInfo">赞赏作者</button>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="donateInfo">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="donateInfoLabel">感谢您的支持与认可，但先烦请阅读以下内容</h4>
		</div>
		<div class="modal-body">
			<div style="height:300px!important; overflow-y:auto; font-size: 12pt">
				<p style="text-indent:2em;">很多人都知道，暴雪明确禁止魔兽世界插件收费，但允许捐助。不过，作为整合插件接受打赏，似乎尚无先例。为了尽量减少争议，有些事情提前说清楚比较好：<p>
				<p style="text-indent:2em;">首先，爱不易是很多单体插件的组合体，其中有一多半的插件，有稳定的维护者和发布源（主要是Twitch），包括但不限于DBM、TMW、WA、ExRT、伤害统计等等几十款，这些插件很多是应玩家要求逐步添加的，起到方便玩家更新的目的。如果您只是单纯的觉得这些插件功能强大，那么请不要打赏我们，而是去发布源鼓励原作者。否则，我们既无法量化比例，也没有渠道给原作者分成。诚然，我们将这些优秀插件打包获得下载量，一定程度上侵占了原作者的权益。但目前也没有更好的办法。我们只能尽量保留插件的作者和版本信息（LICENSE和日志等因为文件数量问题被统一去掉了），这也是自此项目诞生的那一天，我们一贯坚持的原则。然后爱不易中还有部分年久失修，或是经过好多位开发者修改完善的单体插件，这种情况，我们认为主要版权仍然归属原作者。那么剩下的，真正属于爱不易的，大概只有10%不到的原创插件了，所以，如果您要打赏我们，请确定是为了这小部分的原创功能及插件修缮工作，或是认可我们的勤奋与专业。请忽略那些简单的搬运工作，否则我们受之有愧。

				<p style="text-indent:2em;">其次，无论是否打赏过我们，每个用户所得到的插件功能和服务支持是一致的。因为我们真的是喜欢魔兽才接手做的这个，玩家的口碑和认可才是我们最大的动力。如果仅仅是为了酬劳，是根本不足以让人坚持下去的，也不可能做出贴心的插件。

				<p style="text-indent:2em;">如果您看过这两条原则，还是决定打赏我们，那么非常感谢，同时希望您能留下您魔兽中的一个主要ID（格式为"角色名-服务器"），我们之后计划在插件内录入一个感谢名单，作为小小的回报。

				<p style="text-indent:2em;">当然，如果您不想打赏了，同样也要感谢您看到这里，您的关注同样是我们的动力。我们会尽量开放，哪怕不是爱不易的用户，我们也希望通过分享与交流，能让大家的魔兽世界更美好哪怕只是一点点，也就没什么遗憾了。

				<p style="text-indent:2em;">爱从来都不是容易的，无法承诺什么，但我们会尽量坚持爱，不改变。

				<div align="center"><br><b>微信赞赏码</b><br><img src="./warbaby256.png" width="256" height="256"/><br></div>

				<br>
				<p>附个人介绍：
				<ul>
					<li>TBC时期：<a href="http://bbs.ngacn.cc/read.php?tid=1041848">交易助手交易记录</a> <a href="http://bbs.ngacn.cc/read.php?tid=1027747">玩家菜单增强</a></li>
					<li>WLK时期：在台服 <a href="http://bbs.ngacn.cc/read.php?tid=3077447">组队频道转发</a> <a href="http://bbs.ngacn.cc/read.php?tid=3167236">台服反黑金</a></li>
					<li>CTM时期：就职网易主持有爱开发</li>
					<li>MOP和WOD时期基本是AFK状态</li>
					<li>WOD后期再次接手维护有爱</li>
					<li><a href="https://www.curseforge.com/members/warbaby/projects">[Curse项目列表]</a></li>
				</ul>

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>